node_modules
vendor
.git
.github
.env
.env.*
!.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/hot          ← CRITICAL
public/build
npm-debug.log
.DS_Store
README.md
docker-compose*.yml